---
const { title, img, instagram, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
import Instagram from 'src/components/Instagram.astro'
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={`https://www.instagram.com/${instagram}`} target={target}>
    <div class="hero-content flex-row">
      {
        img && (
          <Image
            src={img}
            width={70} 
            height={70}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[6rem] rounded-xl"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <div class="flex items-center">
            <Instagram class/>
            <p class="ml-1 py-1 text-1xl">{instagram}</p>
        </div>
      </div>
    </div>
  </a>
</div>
